In [1]:
# load libraries
import pandas as pd
import numpy as np
import seaborn as sns

df= sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
X = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y= df['species']

In [3]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree

model = DecisionTreeClassifier().fit(X, y)
plot_tree(model, filled= True)
plt.title("Decision tree trained model of IRIS data")
# how to save this plot in tiff, png, and pdf files, in HD quality
# plt.savefg('Decisiontree.png', dpi=300)
plt.savefig('tiff_compressed.tiff', dpi=600, format='tiff', 
            facecolor='white', edgecolor= 'none',
            pil_kwargs = {"compression": 'tiff_lzw'})
plt.show()