## Knn

In [118]:
import pandas as pd
import seaborn as sns
df= pd.read_csv('jointdata.csv')
df.head()

      AHIPC    Aspine     AHIPR       AER       AWR       AHR  Gender
0  1.074197  1.104815  1.058009  1.086524  0.983399  0.955172       1
1  0.941238  0.974563  0.928442  0.947999  0.828988  0.801955       1
2  1.115748  1.148227  1.095521  1.138274  1.045892  1.017264       1
3  0.941148  0.990126  0.920284  0.945852  0.842392  0.817208       1
4  0.943126  0.971330  0.920808  0.952584  0.855468  0.828205       1

In [119]:
# selection of input and output
X = df[['AHIPC', 'Aspine', 'AHIPR', 'AER', 'AWR', 'AHR']]
y= df['Gender']

In [120]:
# Model and prediction
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=9)

# Train the model using the training set
model.fit(X,y)

# predict output
predicted = model.predict(X)
predicted

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [121]:
# metrics evaluation
## split data into test and train (80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Create a model
model= KNeighborsClassifier(n_neighbors=3)

#fitting the model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)

score= accuracy_score(y_test, predicted_values)
print('The accuracy score of gender prediction is', score)

The accuracy score of gender prediction is 0.7857142857142857